<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
		<extension
		      id="wizard"
		      name="Google Checkout SDK"
		      point="org.eclipse.ui.newWizards">

				<category
				       name="Google Checkout Integration Wizards"
				       id="wizard.category1">
				</category>
				<wizard
				      name="Checkout Integration Wizard"
				      icon="icons/wizard.gif"
				      category="wizard.category1"
				      class="com.google.checkout.sdk.eclipsemodule.integrationwizard.IntegrationWizard"
				      id="integrationWizard">
				   <description>
				     Description of Checkout Integration Wizard
				   </description>
				</wizard>
        <wizard
              name="Handler Manager Wizard"
              icon="icons/wizard.gif"
              category="wizard.category1"
              class="com.google.checkout.sdk.eclipsemodule.handlermanager.HandlerManager"
              id="handlerManagerWizard">
           <description>
             Description of Handler Manager Wizard
           </description>
        </wizard>				
    </extension>
    
    <!-- 
    <extension point="org.eclipse.ui.popupMenus">
      <objectContribution objectClass="org.eclipse.core.resources.IProject" 
        id="integrationWizard">
        <action label="Google Checkout Integration Wizard" icon="icons/wizard.gif" 
          class="com.google.checkout.sdk.eclipsemodule.integrationwizard.IntegrationWizardAction" 
          id="com.google.checkout.sdk.eclipsemodule.integrationwizard.action1">
        </action>
      </objectContribution>
    </extension>
    <extension point="org.eclipse.ui.popupMenus">
      <objectContribution objectClass="org.eclipse.core.resources.IProject" 
        id="handlerWizard">
        <action label="Google Handler Manager Wizard" icon="icons/wizard.gif" 
          class="com.google.checkout.sdk.eclipsemodule.handlermanager.HandlerManagerAction" 
          id="com.google.checkout.sdk.eclipsemodule.integrationwizard.action2">
        </action>
      </objectContribution>
    </extension>
    
    
    <requires>
      <import plugin="checkout_module_eclipse"/>
    </requires>
    
    <runtime>
      <library name="/checkout-module-eclipse/module.jar"/>
    </runtime>
     -->
</plugin>
