body {
	background-color: #fff;
	color: #000;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: small;
	margin: 8px 0px 8px 0px;
}

a { 
	color: #00c;
}

a:visited {
  color: #00c;
}

.gridstore-TopPanelHeader {
  font-size: 120%;
  color: #6189d4;
}

.gridstore-TopPanelHeaderBar {
	margin: 10px;
}

.gridstore-TopPanelNavLinks {
  font-size: 80%;
  margin-top: 4px;
  margin-right: 8px;
  margin-bottom: 4px;
  margin-left: 8px;
}

.gridstore-TopPanelNavBar {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #3366cc;
  background-color: #e5ecf9;
  width: 100%;
}

.gridstore-TopPanelNavLinkPanel {
  padding-top: 0;
  padding-right: 8px;
  padding-bottom: 0;
  padding-left: 8px;
}

.gridstore-CategoryMenuPanel {
	font-size: 80%;
	width: 175px;
	border: 1px solid #ddd;
	padding-top: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 20px;
	margn-left: 5px;
}

.gridstore-CategoryMenuPanel a {
	text-decoration: none;
}

.gridstore-CategoryMenuPanel a:visited {
  text-decoration: none;
}

.gridstore-CategoryMenuPanel a:hover {
	/*color: #cc6600;*/
	text-decoration: underline;
}

.gridstore-CategoryMenuLinkPanel a {
  font-size: 80%;
}

.gridstore-CategoryMenuHeader {
	font-size: 94%;
	font-weight: bold;
  margin-bottom: 10px;
}

.gridstore-ProductGridPanel {
  font-size: 80%;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
  margn-left: 5px;
}

.gridstore-ProductGridGrid {
	padding: 0;
	margin: 0;
}

.gridstore-ProductBoxPanel {
  font-size: 80%;
  margin-top: 0;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-left: 0;
  padding: 10px;
  border:1px solid #ddd; /*#EFEFEF;*/
  width: 200px;
  height: 230px;
}

.gridstore-ProductBoxImage {
	margin: 5px;
}

.gridstore-ProductBoxPrice {
  font-weight: bold;
}

.gridstore-ProductBoxCartLink a {
	text-decoration: underline;
  color: #7777cc;
}

.gridstore-PopupProductBox {
}

/*
.image { 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
}
.item { 
  border: 1px solid #C3D9FF;
  background-color: #E8EEF7;
  padding: 0.5em;
  width: 180px;
  height: 230px;
}

.bold {
  font-weight: bold;
}

.price {
  font-weight: bold;
}

.item-desc {
  font-size: 8pt;
  color: gray;
}

.title {
  font-weight: bold;
}

.google-cart-add {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
*/
