
body {
	background-color: white;
	color: black;
	font-family: Arial, sans-serif;
	font-size: small;
	margin: 8px;
	margin-top: 3px;
}

table {
	empty-cells: hide;
}

.gwt-Hyperlink {
	border: 1px solid #C3D9FF;
	background-color: #E8EEF7;
	padding: 0.5em;
}

.gwt-Image { 
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
}

.image { 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
}

.item { 
	border: 1px solid #C3D9FF;
  background-color: #E8EEF7;
  padding: 0.5em;
  width: 250px;
  height: 250px;
}

.productBox { 
  border: 1px solid #C3D9FF;
  background-color: #E8EEF7;
  padding: 0.5em;
  width: 250px;
  height: 250px;
}

.popupProductBox { 
  border: 1px solid #C3D9FF;
  background-color: #E8EEF7;
  padding: 0.5em;
  width: 300px;
  height: 300px;
}

.bold {
  font-weight: bold;
}

.price {
  font-weight: bold;
}

.item-desc {
  font-size: 8pt;
  color: gray;
}

.title {
  font-weight: bold;
}

.google-cart-add {
  display: block;
  margin-left: auto;
  margin-right: auto;
}