# The location of the GWT directory
gwt.home=/home/joeuser/gwt-mac-1.4.61

# Platform specific jar containing GWT compiler
# Default is set for the Mac OS X
# This jar will be in your ${gwt.home} directory
gwt.platform.jar=gwt-dev-mac.jar

# Location of the Autodeploy directory of your application server
# This property is used when you deploy the web applications
java.autodeploy.dir=/home/joeuser/apache-tomcat-6.0.14/webapps

# Store you would like to build. Right now, GridStore is the only store that
# will correctly build. In the future, we would like to have an IBrowseStore.
# For more information on the IBrowseStore, please see the TODO.txt at the 
# project's root dir.
store.name=GridStore